---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---


<strong>Teaching Assistant</strong>, Bilkent Univerity, Ankara, Turkey. <br>
- Signals and Systems (6 semesters)  <br>
 <i>Explanation: I have been awarded for Exceptional Teaching Assistant Performance four times (2018/19 Spring, 2019/20 Fall, 2020/21 Fall, 2020/21 Spring). I was the head teaching assistant for the course, responsible for quiz/project preparations, grading, laboratory tutorials, recitations, distribution of work among other assistants, and course
project/laboratory scheduling.</i> <br>
- Advanced Topics in Machine Learning and Signal Processing (1 semester) <br>
- Digital Communications (3 semesters) <br>
- Advanced Digital Communications (2 semesters) <br>
- Analog Electronics (1 semesters) <br>
- Applied Electromagnetics (1 semester) <br>




{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
